h1 {
  font-size: 3rem;
  font-family: monospace;
  text-align: left;
  margin-bottom: 20px;
}
.return-div {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
  row-gap: 20px;
}
.news-app {
  width: 80%;
  margin-inline: auto;
  margin-block: 40px;
}
.query-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.2rem;
}
.btn-submit {
  margin-bottom: 20px;
  padding: 20px 60px;
}
