<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="inner-container">
        <header>header</header>
        <nav>nav</nav>
        <main class="float-right">main</main>
        <aside class="float-left">aside</aside>
        <section class="float-left">section</section>
        <aside class="float-clear">aside</aside>
        <footer>footer</footer>
      </div>
    </div>
  </body>
</html>
