* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.inner-container {
  margin: 20px auto;
  max-width: 600px;
}
header,
aside,
footer,
section,
main,
nav {
  padding: 40px;
  text-align: center;
  margin-block: 8px;
  background-color: rgba(150, 148, 148, 0.301);
}

.float-right {
  width: 49%;
  float: left;
  padding: 98px;
}
.float-left {
  width: 49%;
  float: right;
}
.float-clear {
  clear: both;
}
